body{
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,STXihei,"Microsoft YaHei","微软雅黑",sans-serif;
}

#wrapper{
    margin: 0 auto;
    left: 50%;
    text-align: center;
    align: center;
    width: 800px;
    height: 600px;

    border: 2px solid lightblue;

    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -wekit-border-radius:5px;
    -o-border-radiuss:5px;
    border-radius:5px;

}

#upperBox{
    width: 100%;
    height: 9%;
    background-color: green;
}

li{
    list-style: none outside none;
}

#Menu{
    margin: 0 auto;
    padding: 0px;
    width: auto;
    display: table;
    box-shadow: 0 5px 5px rgba(1, l, 1, 0.5);

    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#Menu li{
    float: left;
    position: relative;
}

#Menu li a{
    text-decoration: none;

    margin: 6px 0;
    padding: 0 14px;
    display: block;
    line-height: 28px;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;

    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#Menu li:hover > a { color: #8fde62; }
#Menu li:first-child a { border-left: none; }
#Menu li:last-child a { border-right: none; }

#Menu ul li{
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

#Menu li:hover > ul li {
    height: auto;
    overflow: visible;
    padding: 0px 10px;
}

#Menu ul {
    float: left;
    display: table;
    position: absolute;
    background: gray;
    padding: 0px;
    margin: 0px;
    background: #1f2024;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

#Menu ul li:hover > a { color: #8fde62; }
#Menu ul li:last-child a { border: none; }

#Menu ul li a{
    border: none;
    border-bottom: 1px solid #353539;
}

#mainBox{
    height: 91%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

#mainContent{
    width: 80%;
    height: 100%;
}

#artiList{
    margin: 0;
    padding: 0;
}

#artiList li{
    background-color: white;
    text-align: left;
    min-height: 100px;
    margin: 0;
    padding-top: 2px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#artiList li a{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    text-decoration: none;
}

#artiList li p{
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    padding-left: 10px;
}

#artiList li a:hover{
    color: #00beff;
}

#artiList li #bottomTip{
    padding: 10px 0 0 10px;
    background-color: #f4f4f4;
}

#artiList li #bottomTip span{
    font-size: 12px;
    margin-right: 20px;
    color: #777;
}

#sideBar{
    float: right;
    width: 20%;
    height: 100%;
    background-color: yellow;
}
